@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@300;400;500;600;700;800&display=swap");
header {
    font: normal normal 600 36px/55px Poppins;
    margin: 0;
}

.both {
    display: flex;
    flex-direction: row;
}

.chat {
    width: 70vw;
    height: 90vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.messages {
    width: 70vw;
    height: 80vh;
    /* border: 1px solid red; */
    overflow: auto;
    display: inline-block;
}

.t1 {
    margin-top: 2%;
}

.dp {
    width: 2em;
}

.name {
    display: inline;
    margin-right: 2%;
    font: normal normal 1em Poppins;
}

.posttime {
    color: grey;
    display: inline;
    font: normal normal 0.8em Poppins;
}

.query {
    margin-left: 2%;
    font: normal normal 0.8em Poppins;
}

.today {
    display: flex;
    align-items: center;
}

.today .date {
    padding: 1em 0.2rem;
    font: normal normal 18px/27px Poppins;
    /* creates the space */
}

.today .line {
    flex: 1;
    height: 3px;
    background-color: #000;
    border-radius: 20rem;
    margin: 0 1%;
}

.enterquery {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 2em;
    width: 96%;
}

.add {
    width: 2.5%;
    border-radius: 2.5em;
    border: 2px solid;
    padding: 0;
}

.userstat {
    margin: 0 2%;
    width: 28vw;
    height: 90vh;
    border-radius: 3em;
    overflow: auto;
    /* border: 1px solid darkmagenta; */
}

.onof {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-left: 1.2em;
}

.t2 {
    margin: 1em 2em;
    display: flex;
}

.nameonof {
    margin-left: 5%;
}