@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
    background-color: #F4F5F7;
}

.acadmat {
    margin: 1rem;
    font-weight: bold;
}

.both {
    display: flex;
    flex-direction: row;
}

.photoAndDes {
    display: flex;
    margin-left: 3vw;
    flex-direction: column;
    width: 55vw;
    border: 1px solid red;
}

.des {
    text-align: left;
    font: normal normal 600 68px/102px Poppins;
    font-size: 3em;
    color: #1A365D;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}

.photo {
    width: 90%;
    border-radius: 2em;
}

.login {
    border: 1px solid blue;
    margin-right: 4%;
    margin-left: 8%;
    border-radius: 1.3rem;
    width: 25vw;
}

.firstname,
.email,
.pass {
    margin-left: 7%;
    margin-right: 5%;
    width: 40%;
    margin-bottom: 13%;
    text-align: left;
    font: normal normal normal 19px/29px Poppins;
    font-size: 100%;
    display: inline-block;
    padding: 0%;
    border: #F4F5F7;
    border-bottom: #272727 2px solid;
}

.email,
.pass {
    width: 86%;
}

.lastname {
    width: 40%;
    text-align: left;
    font: normal normal normal 19px/29px Poppins;
    font-size: 100%;
    display: inline-block;
    margin-top: 20%;
    padding: 0%;
    border: #F4F5F7;
    border-bottom: #272727 2px solid;
}

.signin {
    width: 10vw;
    height: 6vh;
    border-radius: 0.5rem;
}

.textsignin {
    font: normal normal normal 22px/33px Poppins;
    font-size: medium;
}

.or {
    margin: 12%;
    font: normal normal normal 19px/29px Poppins;
    font-size: medium;
}

.alreadylogin {
    font: normal normal medium 19px/29px Poppins;
}